/**
 * Print Styles
 */
:root {
	--color__base_100: 26, 21, 17;
	--color__base_200: 39, 34, 30;
	--color__base_300: 56, 51, 47;
	--color__base_400: 111, 106, 102;
	--color__base_500: 152, 147, 143;
	--color__base_600: 215, 210, 206;
	--color__base_700: 226, 221, 217;
	--color__base_800: 248, 243, 239;
	--color__base_900: 255, 250, 246;
	--color__brand: 204, 0, 0;
	--color__brand_contrast: 255, 255, 255;
	--color__accent: 57, 119, 212;
	--color__accent_contrast: 255, 255, 255;
	--color__highlight: 244, 215, 81;
	--color__highlight_text: 0, 0, 0;
	--color__message: var(--color__base_500);
	--color__succcess: 0, 163, 42;
	--color__error: 214, 54, 56;
	--color__link: var(--color__brand);
	--color__link_contrast: var(--color__brand_contrast);
	--color__visited: 214,99,73;
	--color__visited_contrast: var(--color__brand_contrast);
	--color__hover: 255, 0, 0;
	--color__hover_contrast: var(--color__brand_contrast);
}

:root {
	--type__size: 1.3rem;
	--type__sans: 'Inter', sans-serif;
	--type__serif: Georgia, serif;
	--type__mono: Monaco, Courier, monospace;
	--width__column: 53rem;
	--width__wide: calc(var(--width__column)*1.5);
	--width__column_half: calc(var(--width__column)*.5);
	--width__column_third: calc(var(--width__column)*.33);
}

@media print {
	:root {
		--type__size: 12pt;
	}
	.menu,
	#breadcrumbs,
	.clark-header {
		display: none !important;
	}
	#page {
		width: 100%;
		margin: 0;
	}
	@page {
		margin: 1in;
	}
	body {
		font-size: 10pt !important;
		line-height: 1.3;
		background: #fff !important;
		color: #000;
	}
	p, address, blockquote, table, th, td {
		font-size: inherit !important;
	}
	th, td {
		border: 1px solid #999;
		border-collapse: collapse;
	}
	li, cite {
		font-size: 10pt !important;
	}
	h1 {
		font-size: 24pt;
	}
	h2, h3, h4 {
		font-size: 14pt;
		margin-top: 25px;
	}
	h5, h6 {
		font-size: 13pt;
		margin-top: 25px;
	}
	.has-large-font-size {
		font-size: 14pt !important;
	}
	a {
		page-break-inside: avoid;
	}
	blockquote {
		page-break-inside: avoid;
	}
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
		page-break-inside: avoid;
	}
	img {
		page-break-inside: avoid;
		page-break-after: avoid;
	}
	table, pre {
		page-break-inside: avoid;
	}
	ul, ol, dl {
		page-break-before: avoid;
	}
	a:link, a:visited, a {
		background: transparent;
		color: #cc0000;
		text-decoration: underline;
		text-align: left;
	}
	a[href^=http]:after {
		content: " <" attr(href) "> ";
	}
	article a[href^="#"]:after {
		content: "";
	}
	a:not(:local-link):after {
		content: " <" attr(href) "> ";
	}
	html .site .alignleft {
		margin-right: 12pt;
		margin-left: 0;
	}
	html .site .alignright {
		margin-right: 0pt;
		margin-left: 12pt;
	}
	html .site .alignleft,
	html .site .alignright {
		max-width: 50%;
		page-break-after: avoid;
	}
	iframe {
		display: none;
		width: 0 !important;
		height: 0 !important;
		overflow: hidden !important;
		line-height: 0pt !important;
		white-space: nowrap;
	}
	.embed-youtube, .embed-responsive {
		position: absolute;
		height: 0;
		overflow: hidden;
	}
	code, pre, kbd {
		font-family: "Courier New", Courier, mono;
		font-size: inherit;
	}
	ul, ol {
		margin-left: 18pt;
		margin-bottom: 20pt;
	}
}

/*# sourceMappingURL=style-print.css.map */