/* Cards
--------------------------------------------- */

.cards.columns {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--type__size) * 1);
	margin-bottom: calc(var(--type__size) * 2);
}
.cards.columns > .clarku-block-card {
	background-color: RGBA(var(--color__base_900),1);
	color: #000;
	width: calc(100%/3 - 1rem);
}

a.clarku-block-card  {
	display: flex;
	flex-direction: column;
	
	.clarku-block-card-content {
		background-color: transparent !important;
		padding: calc(var(--type__size) * .75) !important;
		flex-grow: 4;
	}
	.clarku-block-card-cat {
		background-color: RGB(var(--color__base_900)) !important;
		padding: .5em 1.25em !important;
	}

	h3 {
		font-size: calc(var(--type__size) * 1.1);
		margin-bottom: calc(var(--type__size) * .75) !important;
	}
	p {
		font-size: calc(var(--type__size) * .85);
		margin-bottom: calc(var(--type__size) * .75) !important;
	}
	
}



.clarku-block-card {
	.clarku-block-card-img, img {
		transition: all .2s ease-in-out;
	}
}

.clarku-block-card:hover {
	.clarku-block-card-img, img {
		transform: scale(1.02);
	}
} 

.clarku-block-card {
	background-color: RGB(var(--color__base_900));
}
.clarku-block-card:hover {
  box-shadow: 1px 2px 6px 0 RGBA(0,0,0,.06);
}
.clarku-block-card:hover .clarku-block-card-img {
  transform: scale(1.04) !important;
}
